body {
    background: rgba(21, 21, 21, 1);
}

.cover-psg {
    background-image: url(images/cover.png);
    filter: brightness(80%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

button:disabled {
    background-color: red;
}